asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.2
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
gunicorn==26.0.0
idna==3.12
Markdown==3.10.2
packaging==26.2
pillow==12.1.0
pygame==2.6.1
requests==2.33.1
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
whitenoise==6.12.0
