{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="container">
            <h1 class="text-center text-warning">TEST</h1>

        <div class="row">
            {% for blog in blogs %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-top">
                            <img src="{{ blog.image.url}}" height="250px" width="355px">
                        </div>
                        <div class="card-text">
                            <h5 class="text-center">{{ blog.title }}</h5>
                            <p class="text-center">{{ blog.preview }}</p>
                        </div>
                        <div class="card-text d-flex justify-content-center p-3">
                            <a href="{% url 'read' blog.id %}" class="btn btn-warning ps-2 pe-2 text-white">Read more</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock content %}
