<div class="container">
        <form action="">
        <div class="form">
                {% comment %} <img src="tools/youtube-logo (1).svg" alt=""><br> {% endcomment %}
                
                    <!-- <h1>Youtube</h1> -->
                    first name: <br><input type="text" placeholder="please input your first name"><br><br>
                    last name: <br><input type="text" placeholder="please input your last name"><br><br>
                    email: <br><input type="email" placeholder="please input your  valid @email"><br><br>
                    number: <br><input type="text" placeholder="please input your first name"><br><br>
                
                <button>submit</button>
                <button><a href="youtubepage.html">sign up</a></button>
            </form>
        </div>
    </div>