{% extends "base.html" %}
{% block content %}
     <div class="row">
            <img src="Logos/thumbnail-1.webp" alt="">
            
            <div class="text">
                <div>
                    <img src="" alt="" class="channel-picture1" height="300px" width="300px">
                </div>
                <div class="paragraph">
                    <div class="Vtime">5.00</div>
                    <h4>@King osama</h4>
                    <p>friends and family</p>
                    <p>3.4M views. 6 month ago</p>
                </div>
            </div>
{% endblock content %}